In [ ]:
!pip install gradio

Sumber dataset :

 https://www.kaggle.com/datasets/joebeachcapital/qs-world-university-rankings-2024/data

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
%cd 'drive/MyDrive/Colab Notebooks/dataset'

/content/drive/MyDrive/Colab Notebooks/dataset

In [5]:
# World_University_rankings_dataset
import pandas as pd

# Load the dataset
df = pd.read_csv("dataset.csv")

# Tampilkan beberapa baris pertama dataset
print(df.head())

      2024 RANK      2023 RANK                              Institution Name  \
0  rank display  rank display2                                   institution
1             1              1  Massachusetts Institute of Technology (MIT)
2             2              2                       University of Cambridge
3             3              4                          University of Oxford
4             4              5                            Harvard University

    Country Code         Country  SIZE  FOCUS      RES.       AGE  STATUS  \
0  location code        location  size  focus  research  age band  status
1             US   United States     M     CO        VH         5       B
2             UK  United Kingdom     L     FC        VH         5       A
3             UK  United Kingdom     L     FC        VH         5       A
4             US   United States     L     FC        VH         5       B

   ... International Faculty Rank International Students Score  \
0  ...                   ifr rank                    isr score
1  ...                         56                         88.2
2  ...                         64                         95.8
3  ...                        110                         98.2
4  ...                        210                         66.8

  International Students Rank International Research Network Score  \
0                    isr rank                            irn score
1                         128                                 94.3
2                          85                                 99.9
3                          60                                100.0
4                         223                                100.0

  International Research Network Rank Employment Outcomes Score  \
0                            irn rank                 ger score
1                                  58                       100
2                                   7                       100
3                                   1                       100
4                                   5                       100

  Employment Outcomes Rank Sustainability Score Sustainability Rank  \
0                 ger rank            SUS SCORE            SUS RANK
1                        4                 95.2                  51
2                        6                 97.3                 33=
3                        3                 97.8                 26=
4                        1                 96.7                  39

   Overall SCORE
0  Overall Score
1          100.0
2           99.2
3           98.9
4           98.3

[5 rows x 29 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   2024 RANK                             1498 non-null   object
 1   2023 RANK                             1416 non-null   object
 2   Institution Name                      1498 non-null   object
 3   Country Code                          1498 non-null   object
 4   Country                               1498 non-null   object
 5   SIZE                                  1475 non-null   object
 6   FOCUS                                 1497 non-null   object
 7   RES.                                  1411 non-null   object
 8   AGE                                   1472 non-null   object
 9   STATUS                                1456 non-null   object
 10  Academic Reputation Score             1498 non-null   object
 11  Academic Reputation Rank              1498 non-null   object
 12  Employer Reputation Score             1497 non-null   object
 13  Employer Reputation Rank              1497 non-null   object
 14  Faculty Student Score                 1474 non-null   object
 15  Faculty Student Rank                  1474 non-null   object
 16  Citations per Faculty Score           1474 non-null   object
 17  Citations per Faculty Rank            1474 non-null   object
 18  International Faculty Score           1372 non-null   object
 19  International Faculty Rank            1372 non-null   object
 20  International Students Score          1418 non-null   object
 21  International Students Rank           1418 non-null   object
 22  International Research Network Score  1494 non-null   object
 23  International Research Network Rank   1494 non-null   object
 24  Employment Outcomes Score             1474 non-null   object
 25  Employment Outcomes Rank              1474 non-null   object
 26  Sustainability Score                  1398 non-null   object
 27  Sustainability Rank                   1398 non-null   object
 28  Overall SCORE                         1498 non-null   object
dtypes: object(29)
memory usage: 339.5+ KB

In [7]:
# Ubah kolom '2024 RANK' menjadi numerik dan urutkan berdasarkan kolom tersebut
df['2024 RANK'] = pd.to_numeric(df['2024 RANK'], errors='coerce')
df = df.dropna(subset=['2024 RANK']).sort_values(by='2024 RANK').reset_index(drop=True)

In [8]:
def binary_search(arr, target):
    low, high = 0, len(arr) - 1
    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1

In [10]:
def find_university_by_rank(target_rank):
    ranks = df['2024 RANK'].astype(int).tolist()
    index = binary_search(ranks, int(target_rank))

    if index != -1:
        university_info = df.iloc[index]
        result = {
            "University Name": university_info['Institution Name'],
            "Country": university_info['Country'],
            "Overall SCORE": university_info['Overall SCORE']
        }
    else:
        result = "Rank not found."

    return result

In [11]:
import gradio as gr

# Define the Gradio interface
iface = gr.Interface(
    fn=find_university_by_rank,
    inputs=gr.Number(label="Enter the rank to search for:"),
    outputs=gr.JSON(label="University Information"),
    title="World University Rankings Search",
    description="Search for university information by rank using Binary Search (Decrease and Conquer algorithm)."
)

# Launch the interface
iface.launch()

Setting queue=True in a Colab notebook requires sharing enabled. Setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
Running on public URL: https://76939ae006395721ac.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)